body {
	max-width: 1920px;
	margin: auto
}

* {
	font-family: "Inter" Arial, sans-serif;
	;
	font-style: normal
}

#haut a {
	text-decoration: none;
	color: #000
}

.top-header {
	background-color: #fff;
	position: sticky;
	top: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding-inline: 100px;
	padding-block: 30px;
	align-items: center
}

.top-header .name {
	font-size: 1.625em;
	white-space: nowrap
}

.nav ul {
	display: flex;
	list-style-type: none;
	font-size: 1em;
	margin-bottom: 0
}

.nav li {
	padding-inline: 10px;
	white-space: nowrap
}

.nav a {
	text-decoration: none;
	color: #000
}

.social-link img {
	width: 20px
}

.visually-hidden {
	color: #000 !important;
	background: transparent !important;
}

.sr-only {
	position: fixed;
	left: -9999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#about {
	display: flex;
	align-items: center;
	gap: 30px;
	background-color: #f6d2b8;
	padding-inline: 100px;
	padding-block: 100px
}

#about-me h2,
h3,
p {
	margin: 0;
}

#about-me {
	display: flex;
	flex-direction: column;
	gap: 20px
}

.introduction {
	font-size: 1em;
	font-family: Spectral;
	font-weight: 800;
	font-style: italic;
	width: 80%
}

.filter-buttons {
	text-align: center;
	margin-bottom: 30px
}

.filter-button {
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	border: none;
	margin: 5px;
	cursor: pointer;
	font-size: 1em;
	border-radius: 5px
}

.filter-button:hover {
	background-color: #555
}

.filter-button.active {
	background-color: #beb45a
}

.gallery-item.hidden {
	display: none
}

#gallery h2 {
	text-align: center;
	font-size: 2em;
	margin: 20px
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center
}

.gallery-item img {
	display: flex;
	height: 250px;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, .1)
}

.gallery-item:hover {
	opacity: .8
}

.quote {
	margin-top: 40px;
	text-align: center;
	font-style: italic;
	color: black
}

.quote-text {
	font-family: Spectral;
	font-style: italic;
	font-weight: 300
}

.quote-author {
	font-family: Spectral;
	font-weight: 800;
	font-size: 1.375em
}

#services {
	margin: auto;
	background-color: #a8d5d8;
	position: relative
}

#services h2 {
	margin: 0;
	text-align: center;
	padding-top: 10px
}

#services .container {
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	padding: 30px
}

.service {
	background-color: #fff;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1
}

#quote {
	font-family: Spectral;
	font-style: italic;
	width: 70%;
	margin: auto;
	padding-block: 3em
}

#contact {
	flex-direction: column;
	background-color: #d8d3a8;
	padding-block: 100px
}

#contact .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 30px
}

#contact .container img {
	width: 100%;
	height: auto
}

.picture {
	width: 100%;
	height: 100%;
	flex: 1;
	z-index: 1
}

.form-container {
	flex: 2;
	white-space: nowrap
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start
}

form input {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 2.5em;
	margin-bottom: 20px
}

form textarea {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 20px
}

input[type=submit] {
	background-color: #beb45a;
	padding: .5em 1em
}

footer {
	background-color: #5f5826;
	color: #fff;
	width: 100%;
	display: flex;
	justify-content: space-between
}

footer .footer-left {
	width: 100%;
	padding: 2em
}

.footer-left ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	flex-direction: column;
	margin: 0;
	padding: 0
}

footer .footer-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
	width: 100%
}

.footer-right p {
	margin: 0;
	padding: 0;
	text-align: center
}

@media all and (max-width:1000px) {

	#about {
		flex-direction: column
	}

	.picture {
		width: auto;
		height: auto;
		flex: 1;
		z-index: 1
	}

	.picture img {
		width: 100%;
		height: auto
	}

	#services .container {
		flex-direction: column
	}

	.service {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 2em 0
	}

	.service-description {
		margin-bottom: 1em
	}

	#contact .container {
		flex-direction: column
	}

	#contact .picture {
		margin-top: 1em
	}

	.form-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		gap: 10px
	}

	.form-container h3,
	form,
	p {
		width: 100%;
		white-space: normal
	}
}

@media all and (max-width:650px) {
	.top-header {
		flex-direction: column;
		padding-inline: 0
	}

	.top-header .nav,
	.top-header .nav ul {
		width: 100%;
		padding: 0
	}

	.top-header .nav li {
		flex: 1;
		padding-block: 1em;
		text-align: center
	}

	#services .container {
		align-items: center
	}

	.service {
		max-width: 90%
	}

	#about,
	#contact {
		padding-block: 2em
	}

	form {
		width: 100%
	}
}