body {
	max-width: 1920px;
	margin: auto;
}

* {
	font-family: 'Inter';
	font-style: normal;
}

.top-header {
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding-inline: 100px;
	padding-block: 30px;
	align-items: center;
}

.top-header .name {
	font-size: 26px;
}

.nav ul {
	display: flex;
	list-style-type: none;
	font-size: 14px;
	margin-bottom: 0;
}

.nav li {
	padding-inline: 10px;
}

.nav a {
	text-decoration: none;
	color: #000
}

.social-link img {
	width: 20px;
}

#about {
	display: flex;
	background-color: #F6D2B8;
	padding-inline: 100px;
	padding-block: 100px;
	position: relative;
}

.picture.left::before {
	content: ' ';
	background-color: #E5975F;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.picture {
	flex: 1;
	margin: 0 20px;
	z-index: 0;
}

.picture img {
	width: 100%;
}

#about-me {
	flex: 2;
	text-align: justify;
}

h2 {
	margin-top: 1em;
	margin-bottom: 60px;
	font-size: 30px;
}

.introduction {
	font-size: 16px;
	font-family: "Spectral";
	font-weight: 800;
	font-style: italic;
	width: 80%;
}

#about-me p {
	font-size: 14px;
}

.filter-buttons {
	text-align: center;
	margin-bottom: 30px;
}

.filter-button {
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	border: none;
	margin: 5px;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 5px;
}

.filter-button:hover {
	background-color: #555;
}

.filter-button.active {
	background-color: #beb45a;
}

.gallery-item.hidden {
	display: none;
}

#gallery h2 {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 40px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.gallery-item img {
	display: flex;
	height: 250px;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item:hover {
	opacity: 0.8;
}

.quote {
	margin-top: 40px;
	text-align: center;
	font-style: italic;
	color: #777;
}

.quote-text {
	font-family: Spectral;
	font-style: italic;
	font-weight: 300;
}

.quote-author {
	font-family: Spectral;
	font-weight: 800;
	font-size: 22px;
}

#services {
	margin: auto;
	background-color: #A8D5D8;
	position: relative;
}

#services h2 {
	margin: 0;
	text-align: center;
	padding-block: 2em;
}

#services .container::before {
	content: ' ';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#services .container {
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	padding: 2em 0;

}

.service {
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}

#quote {
	font-family: "Spectral";
	font-style: italic;
	width: 70%;
	margin: auto;
	padding-block: 3em;
}

#contact {
  margin: auto;
  background-color: #d8d3a8;
  position: relative;
  padding-inline: 100px;
  padding-block: 100px;
}

#contact .container {
  display: flex;
	flex-direction: row;
	justify-content: space-between;
  }
  
  .picture.right::before {
    content: " ";
    background-color: #beb45a;
    width: 374px;
    height: 329px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

.form-container {
  flex: 2;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: flex-start;
}

form input {
  width: 100%;
  background-color: transparent;
  border: solid 1px;
  height: 2.5em;
  margin-bottom: 20px;
}

form textarea {
  width: 100%;
  background-color: transparent;
  border: solid 1px;
  height: 5em;
  line-height: 2.5em;
  font-size: 1.2em;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #beb45a;
  padding: 0.5em 1em;
}

footer {
	background-color: #5f5826;
	color: white;
	width: 100%;
	display: flex;
	justify-content: space-between;
  }
  
  footer .footer_left {
	width: 100%;
	padding: 2em;
  }
  
  .footer_left ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	flex-direction: column;
	margin: 0;
	padding: 0;
  }
  
  footer .footer_right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
	width: 100%;
  }
  
  .footer_right p {
	margin: 0;
	padding: 0;
	text-align: center;
  }
